.loginBlock
  .home__img
    img(src="/login.png", alt="login")
  .home__login
      .login_section
        .home__login__logo 
          span Outstgram
        .login_by_general
          form(action="")
            input(type="email", placeholder=" 전화번호, 사용자 이름 또는 이메일 ")
            input(type="password", placeholder=" 비밀번호 ")
            button(type="submit") Login
        .login_box_split_line
        .login_by_facebook 
          a(href="")
            span Facebook으로 로그인
        .login_find_passwd
          a(href="") 
            span 비밀번호를 잊으셨나요?
      .join_section  
        span 계정이 없으신가요?
        a(href="")
          span 가입하기   
      .download_setion 
        span 앱을 다운로드 하세요 
        .download__store 
          a(href="https://apps.apple.com/app/instagram/id389801252?vt=lo", tabindex="0")
            img(src="/applestore.png", alt="apple store")
          a(href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=8CF3C24D-3F09-48C9-A8BE-ADE0688D250F&utm_content=lo&utm_medium=badge", tabindex="0")
            img(src="/googleplay.png", alt="google store")