{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets" : "defaults",
                "useBuiltIns": "usage",
                "corejs": {"version":3}
            }
        ]
    ]
}