.comment__block__detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .user__thumnail {
    padding-right: 10px;
    display: none;
  }
}
.comment_oneUser {
  width: 100%;
  .user__comment__id {
    font-weight: bold;
  }
  .user__comment {
    margin-left: 5px;
  }
}
