extend layout/main.pug 
include mixins/picBlock

block potato 
  .home__body
    .home-pics
      +picBlock()
    .home__user__recommend
      li 
        ul user1 
        ul user2 
        ul user3 


