extend layout/main.pug 
include mixins/picBlock

block potato 
  .home__body
    .home-pics
      each item in pics 
        +picBlock({
          userName:item.username,
          userAvatar:item.userAvatar,
          picUrl:item.picUrl,
          numLiked: item.numLiked,
        })
    .home__user__recommend
      li 
        ul user1 
        ul user2 
        ul user3 


