mixin commentBlock(comment={})
    .comment__block__detail
        .user__thumnail
            img(src="/user_img.jpg", alt="user profile pic")
        //- h3.comment_id=comment.commentIDs
        .comment_oneUser
            a(href=routes.userDetail).user__comment__id 
                span people1
            span.user__comment hih.dfkasdlfdjfasdfasdflas.